<app-admin-nav></app-admin-nav>
<div class="card text-center m-3">
  <div class="card-header headerr">
  <H1 style=" font-weight: bold;">Approval Request List</H1>  
  </div>
  <div class="card-body" style="background:rgb(223, 209, 238)">
 <div class="table-responsive" style=" padding-right:0.4%">
  <table id="approval_table" datatable [dtOptions]="dtOptions" class="row-border hover table table-striped ">

    <thead class="table-dark ">
             <!-- <tr>
               <th scope="col">REQUEST ID</th>
               <th scope="col">STATUS</th>
               <th scope="col">CATEGORY</th>
               <th scope="col">ISSUE WITH</th>
             </tr> -->
           </thead>
           <tbody>
             <!-- <tr>
               <tr *ngFor="let i of data.table" style="color:white">
               <td >{{ i.sr_id }}</td>
               <td >{{ i.status }}</td>
               <td >{{ i.category }}</td>
               <td >{{ i.issue_with }}</td>
             </tr> -->
           </tbody>
         </table>
        </div>
      </div>
    </div>
<!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header " >
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:#000;">{{sr_id}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container labels">
                  <div class="content">
                    <form action="#">
                      <div class="user-details">
                        <div class = "output_container">
                          <label for="base exponent" >Request Id</label>
                          <output id="output_box" class="disabled" for="base exponent" >
                            {{sr_id}}
                          </output>
                        </div>
                      
                        <div class = 'output_container'>
                          <label for="base exponent">Requester Name</label>
                          <output id="output_box" class="disabled" for="base exponent">
                            {{requester_name}}
                          </output>
                        </div>
                        <div class = 'output_container'>
                          <label for="base exponent">Mobile Number</label>
                          <output id="output_box" class="disabled" for="base exponent">
                            {{number}}
                          </output>
                        </div>
                        <div class = 'output_container'>
                          <label for="base exponent">Email</label>
                          <output id="output_box" class="disabled" for="base exponent">
                            {{email}}
                          </output>
                        </div>
                        <div class = 'output_container'>
                          <label for="base exponent">Category</label>
                          <output id="output_box" class="disabled" for="base exponent">
                            {{category}}
                          </output>
                        </div>
                        <div class = 'output_container' >
                          <label for="base exponent">Issue With</label>
                          <output id="output_box" class="disabled" for="base exponent">
                           {{issue_with}}
                          </output>
                        </div>

<div class = 'output_container'>
  <label for="select" >Category</label>
  <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.category" name="category" (ngModelChange)="category_change($event)">
    <option selected>SELECT</option>
    <option *ngFor="let i of category_data">{{i.category_name}}</option>
    <div *ngFor="let i of data.category"></div>
    </select>
</div>
                       
                      <div class = 'output_container'>
                        <label for="select">Priority <span style="color: red;">*</span></label>
                        <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.priority" name="priority">
                          <option selected>Select</option>
                          <option *ngFor="let i of priority_data">{{i.priority_type}}</option>
                          <div *ngFor="let i of data.category"></div>
                          </select>

                      </div>
                       
                      <div class = 'output_container'>
                        <label for="select">L1 Attendee <span style="color: red;">*</span></label>
                        <select class="selectpicker"  id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.l1_attendee" name="l1_attendee" (ngModelChange)="l1_attendee_change($event)">
                          <option selected>SELECT</option>
                          <option *ngFor="let i of l1_attendee_data">{{i.attendee}}</option>
                          <div *ngFor="let i of l1_attendee_data"></div>
                          </select>
                      </div>
                       
                        
<div class = 'output_container'>
  <label for="select">L2 Attendee <span style="color: red;">*</span></label>
  <select class="selectpicker"  id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.l2_attendee" name="l2_attendee">
    <option selected>SELECT</option>
    <option *ngFor="let i of l2">{{i.attendee}}</option>
    <div *ngFor="let i of l2"></div>
    </select>
                        
                      </div>
                        
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="submit" class="btn btn-secondary"><i class="fas fa-save fa-lg"></i></button> -->
                
                <input type="submit"  class="btn btn-primary" value="Submit"  (click)="submit()">
              </div>
            </div>
          </div>
        </div>      
        <div style="margin-top: 5%;">
          <app-footer></app-footer>
        </div>      