
<app-navbar></app-navbar>

<div>
  <h1 style="text-align: center; color: rgb(232, 239, 246);font-weight: bold;  font-size: 200%;padding-top: 3%; padding-bottom: 2%;;">ATTENDEE RATINGS</h1>
</div>
<div class="container table-responsive " style="  background: linear-gradient(135deg, #98c4e1, #c7a8d4); padding:2% 3% 2% 3%;border-radius: 25px">
 
  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped ">

    <thead class="table-dark ">
             <tr>
               <th scope="col">ATTENDEE</th>
               <th scope="col">ATTENDEE EMAIL</th>
            
               <th scope="col">AVERAGE RATING</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               
               <tr *ngFor="let i of data.table" style="color:white">
               <td >{{ i.attendee }}</td>
               <td >{{ i.attendee_email }}</td>
               <td >{{ i.avg_rating }}</td>
             </tr>
           </tbody>
         </table>
</div>


<div style="margin-top: 7%;">
  <app-footer></app-footer>
</div>

