<!-- <app-navbar></app-navbar> -->
<app-admin-nav></app-admin-nav>


<div class="card text-center m-3">
    <div class="card-header" style="background-color: rgb(53, 15, 90); color: white;">
       <!-- <div class="card-header headerr"> -->
  <H1 style=" font-weight: bold;">Status vs Number Of Requests</H1>  
  <!-- </div> -->
    </div>
    <div class="card-body">
        <!-- <div class="chart-container"> -->
            <canvas  id="MyChart" >{{ chart }}</canvas>
        <!-- </div> -->
    </div>
  </div>
