
<app-navbar></app-navbar>
<div class="card text-center m-3">
  <div class="card-header headerr" >
  <H1 style=" font-weight: bold;">Category Attendee Matrix</H1>  
  </div>
  <div class="card-body" style="background:rgb(223, 209, 238)">
 <div class="table-responsive" style=" padding-right:0.4%">
  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped ">

    <thead class="table-dark ">
      <tr>
        <th scope="col">REQUEST ID</th>
        <th scope="col">STATUS</th>
        <th scope="col">L1 ATTENDEE</th>
        <th scope="col">L2 ATTENDEE</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">PRIORITY</th>
        <th scope="col">RESOLUTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <tr *ngFor="let i of data.table" style="color:white">
        <td >{{ i.sr_id }}</td>
        <td >{{ i.status }}</td>
        <td >{{ i.l1_attendee}}</td>
        <td >{{ i.l2_attendee }}</td>
        <td >{{ i.category }}</td>
        <td >{{ i.priority }}</td>
        <td >{{ i.resolution_description }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

<div style="margin-top: 5%;">
  <app-footer></app-footer>
</div>