/* 
li.active {
    background-color:rgb(61, 228, 228);
    text-transform:uppercase;
   
}
li.active a{
    color:rgb(197, 25, 25);
    text-transform:uppercase;
   
} */

.navbar .navbar-nav .nav-link:hover{
    background-color: rgb(227, 219, 235);
}
.navbar .navbar-nav .nav-link.active
{
color:black;
background-color: rgb(205, 188, 223);
text-transform:uppercase;
font-weight: bold;

}
