<app-navbar></app-navbar>
<div class="card text-center m-3">
  <div class="card-header headerr">
  <H1 style=" font-weight: bold;">Category Attendee Matrix</H1>  
  </div>
  <div class="card-body" style="background:rgb(223, 209, 238)">
 <div class="table-responsive" style=" padding-right:0.4%">
  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped ">

    <thead class="table-dark ">
         <tr>
           <th scope="col">CATEGORY</th>
           <th scope="col">ATTENDEE</th>
           <th scope="col">PRIORITY</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           
           <tr *ngFor="let i of data.table" style="color:white">
           
           <td >{{ i.category_name}}</td>
           <td >{{ i.attendee }}</td>
           <td >{{ i.attendee_type}}</td>
          
         </tr>
       </tbody>
     </table>
</div>
  </div>
  </div>
  <!-- <button type="button" class="btn btn-secondary" (click)="addCategory()">Add Category</button>
  <button type="button" class="btn btn-secondary" (click)="updateCategory()">Update Category</button>
  <button type="button" class="btn btn-secondary" (click)="deleteCategory()">Delete Category</button> -->
<div style="margin-top: 5%;">
  <app-footer></app-footer>
</div>    