<!-- <app-navbar></app-navbar> -->
<app-emp-nav></app-emp-nav>
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="emp-raise-req.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Raise Request</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter your name" id="name" name="number" [(ngModel)]="data.name" required>
          </div>
          <!-- <div class = 'output_container'>
            <label for="base exponent">Name</label>
            <output id="output_box" for="base exponent" style="height: 45%;">
            {{userName}}
            </output>
          </div>
          <div class = 'output_container'>
            <label for="base exponent">Email</label>
            <output id="output_box" for="base exponent"  [(ngModel)]="data.email" id="email" name="email" style="height: 45%;">
            {{userEmail}}
            </output>
          </div>
          <div class = 'output_container'>
            <label for="base exponent">Phone Number</label>
            <output id="output_box" for="base exponent"  style="height: 45%;">
            {{userPhoneNumber}}
            </output>
          </div> -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" id="email" name="email" [(ngModel)]="data.email" required>
          </div>
          
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" id="number" name="number" [(ngModel)]="data.number" required>
          </div>
         
          <!-- <div class="input-box">
            <span class="details">Category</span>
            <input type="text" placeholder="Category" id="category" name="category" [(ngModel)]="data.category" required>
          </div> -->


          <!-- <div class = 'output_container'>
            <label for="select" >CATEGORY</label>
            <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="category_data" name="category">
              <option selected>SELECT</option>
              <option *ngFor="let i of category_data">{{i.category_name}}</option>
              <div *ngFor="let i of data.category"></div>
              </select>
          </div> -->

          <div class="input-box">
            <span class="details" style="margin-left: 4%;">Category</span>
            <select class="form-select input-box" aria-label="Default select example" 
            placeholder="Category" id="category" name="category" [(ngModel)]="data.category" 
            required style="width: 100%; height: 60%">
            <option selected>Select</option>
            <option *ngFor="let i of category_data">{{i.category_name}}</option>
            <!-- <div *ngFor="let i of data.category"></div> -->
           </select>
          </div>
          
          <!-- <div class="input-box" style="display:block">
            <span class="details">Issue With</span>
            <input type="text"   id="issue_with" name="issue_with" [(ngModel)]="data.issue_with" required>
          </div> -->
        </div>
        <div class="form-group" >
          <label for="exampleFormControlTextarea1">Issue With</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Your Issue" rows="2" [(ngModel)]="data.issue_with"
            name="remarks"></textarea>
        </div>
       
        <div class="button">
          <input type="submit"value="Submit" (click)="submit()">
        </div> 
      </form>
    </div>
  </div>    
</body>
<div style="margin-top: 1%;">
  <app-footer></app-footer>
</div>
</html>

