<app-navbar></app-navbar>

<!-- TABLE -->
<div>
  <h1
    style="text-align: center; color: 000;font-weight: bold;  font-size: 200%;padding-top: 1.5%; padding-bottom: 0.5%;">
    REQUEST LIST</h1>
    
</div>
<div class="container-fluid table-responsive "
  style="  background: linear-gradient(135deg, #98c4e1, #c7a8d4); padding:2% 3% 2% 3%;border-radius: 25px"
  id="attendee-table">

  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped ">

    <thead class="table-dark ">
      <!-- <tr>
           <th scope="col">REQUEST ID</th>
           <th scope="col">L1 ATTENDEE</th>
           <th scope="col">L2 ATTENDEE</th>
           <th scope="col">CATEGORY</th>
           <th scope="col">PRIORITY</th>
           <th scope="col">STATUS</th>
        </tr> -->
    </thead>
    <tbody>
      <!-- <tr>
           
           <tr *ngFor="let i of data.table" style="color:white">
           <td >{{ i.sr_id }}</td>
           <td >{{ i.l1_attendee }}</td>
           <td >{{ i.l2_attendee }}</td>
           <td >{{ i.category }}</td>
           <td >{{ i.priority }}</td>
           <td >{{ i.status }}</td>
           
         </tr> -->

    </tbody>
  </table>

</div>


<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0px;">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: 000;">{{sr_id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="content">
            <form action="#">
              <div class="user-details">
                <div class='output_container'>
                  <label for="base exponent"> Request Id</label>
                  <output id="output_box" for="base exponent">
                    {{sr_id}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Issue With</label>

                  <output id="output_box" for="base exponent">
                    {{issue_with}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Category</label>
                  <output id="output_box" for="base exponent">
                    {{category}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Priority</label><output id="output_box" for="base exponent">
                    {{priority}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> L2 Attendee</label><output id="output_box" for="base exponent">
                    {{l2_attendee}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Status</label><output id="output_box" for="base exponent">
                    {{status}}
                  </output>
                </div>
              </div>
              <div class="form-group" style="width:90%; margin-left: 2%;">
                <label for="exampleFormControlTextarea1">Remarks</label>

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="dataModal.remarks"
                  name="remarks"></textarea>
              </div>
              <button type="button" class="btn btn-info" style="margin: 4%;" id="pendingbtn" (click)="pending()">Pending</button>


              <button type="button" class="btn btn-success" id='resolveBtn' style="margin: 4%;" (click)="resolve_request()">Resolve
                Request</button>
              <button type="button" id="transferbtn" class="btn btn-warning" style="margin: 4%;"
                (click)="tranfer_request()">Transfer</button>
              <button type="button" id="cancelbtn" class="btn btn-danger" style="margin: 4%;"
                (click)=" cancel_request()">Cancel</button>
            </form>
            
            <form action="#" id="resolutionForm" *ngIf="visible" >
            
              <div id="reso" class = 'output_container'>
                <label for="select" >Request Resolution</label>
                <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.issue_resolution" name="category" >
                  <option selected>SELECT</option>
                  <option value="WorkAround Provided">WorkAround Provided</option>
                  <option value="Out Of Scope">Out Of Scope</option>
                  <option value="Requirement Completed">Requirement Completed</option>
                  </select>
              </div>
            <div class="form-group" style="width:90%; margin-left: 2%;">
              <label for="exampleFormControlTextarea1">Provide Details For The Resolution</label>

              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="dataModal.resolution_description"
                name="remarks"></textarea>
            </div>
          </form>

<!-- TRANSFER REQUEST -->
<!-- category, l1_attendee, l2_attendee -->
          <form action="#" id="transferform" *ngIf="visibleTranferForm">
            <div class="user-details">

              <div class = 'output_container'>
                <label for="select" >Category</label>
                <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.category" name="category" (ngModelChange)="category_change($event)">
                  <option selected>Select</option>
                  <option *ngFor="let i of category_data">{{i.category_name}}</option>
                  <div *ngFor="let i of data.category"></div>
                  </select>
              </div>                 
              <div class = 'output_container'>
                <label for="select">L1 ATTENDEE</label>
                <select class="selectpicker"  id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.l1_attendee" name="l1_attendee" (ngModelChange)="l1_attendee_change($event)">
                  <option selected>SELECT</option>
                  <option *ngFor="let i of l1_attendee_data">{{i.attendee}}</option>
                  <div *ngFor="let i of l1_attendee_data"></div>
                  </select>
              </div>
               
                
<div class = 'output_container'>
<label for="select">L2 Attendee</label>
<select class="selectpicker"  id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.l2_attendee" name="l2_attendee">
<option selected>Select</option>
<option *ngFor="let i of l2">{{i.attendee}}</option>
<div *ngFor="let i of l2"></div>
</select>
            </div>
            </div>
          </form>
           
      

          </div>
        </div>
      </div>
      <div class="modal-footer" style="padding:2%">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <button type="submit" class="btn btn-primary" id="saveChanges" value="Submit" (click)="saveChanges()">SAVE CHANGES</button>
      </div>
    </div>
  </div>
</div>




<!-- L2 request modal -->

<div class="modal fade" id="l2_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0px;">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: 000;">{{sr_id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="content">
            <form action="#">
              <div class="user-details">
                <div class='output_container'>
                  <label for="base exponent"> Request Id</label>
                  <output id="output_box" for="base exponent">
                    {{sr_id}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Issue With</label>

                  <output id="output_box" for="base exponent">
                    {{issue_with}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Category</label>
                  <output id="output_box" for="base exponent">
                    {{category}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Priority</label><output id="output_box" for="base exponent">
                    {{priority}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> L1 Attendee</label><output id="output_box" for="base exponent">
                    {{l1_attendee}}
                  </output>
                </div>
                <div class='output_container'>
                  <label for="base exponent"> Status</label><output id="output_box" for="base exponent">
                    {{status}}
                  </output>
                </div>
              </div>
              <div class="form-group" style="width:90%; margin-left: 2%;">
                <label for="exampleFormControlTextarea1">Remarks</label>

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="dataModal.remarks"
                  name="remarks"></textarea>
              </div>
            
            <button type="button" class="btn btn-success" id='resolvedbtn' style="margin: 4%;"
                   (click)="resolved_request()">Resolved </button>
            <button type="button" id="resendbtn" class="btn btn-warning" style="margin: 4%;"
                    (click)="resend()">Resend To L1</button>
              <button type="button" id="rejectbtn" class="btn btn-danger" style="margin: 4%;"
                (click)=" reject_request()">Cancel</button>
            </form>
            
            <form action="#" id="resolutionForm" *ngIf="visible" >
            
              <div id="reso" class = 'output_container'>
                <label for="select" >Request Resolution</label>
                <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.issue_resolution" name="category" >
                  <!-- <option selected>SELECT</option> -->
                  <option value="WorkAround Provided" selected>WorkAround Provided</option>
                  <option value="Out Of Scope">Out Of Scope</option>
                  <option value="Requirement Completed">Requirement Completed</option>
                  </select>
              </div>
            <div class="form-group" style="width:90%; margin-left: 2%;">
              <label for="exampleFormControlTextarea1">Provide Details For The Resolution</label>

              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="dataModal.resolution_description"
                name="remarks"></textarea>
            </div>
          </form>

<!-- TRANSFER REQUEST -->
<!-- category, l1_attendee, l2_attendee -->
          <form action="#" id="transferform" *ngIf="visibleTranferForm">
            <div class="user-details">

              <div class = 'output_container'>
                <label for="select" >Category</label>
                <select class="selectpicker" id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.category" name="category" (ngModelChange)="category_change($event)">
                  <option selected>Select</option>
                  <option *ngFor="let i of category_data">{{i.category_name}}</option>
                  <div *ngFor="let i of data.category"></div>
                  </select>
              </div>                 
              <div class = 'output_container'>
                <label for="select">L1 Attendee</label>
                <select class="selectpicker"  id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.l1_attendee" name="l1_attendee" (ngModelChange)="l1_attendee_change($event)">
                  <option selected>Select</option>
                  <option *ngFor="let i of l1_attendee_data">{{i.attendee}}</option>
                  <div *ngFor="let i of l1_attendee_data"></div>
                  </select>
              </div>
               
                
<div class = 'output_container'>
<label for="select">L2 Attendee</label>
<select class="selectpicker"  id="output_box" data-style="btn-inverse" [(ngModel)]="dataModal.l2_attendee" name="l2_attendee">
<option selected>Select</option>
<option *ngFor="let i of l2">{{i.attendee}}</option>
<div *ngFor="let i of l2"></div>
</select>
            </div>
            </div>
          </form>
           
      

          </div>
        </div>
      </div>
      <div class="modal-footer" style="padding:2%">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <button type="submit" class="btn btn-primary" id="saveChanges" value="Submit" (click)="saveChanges()">SAVE CHANGES</button>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 5%;">
  <app-footer></app-footer>
</div>