/* .modal-content{
    background: linear-gradient(135deg, #98c4e1, #c7a8d4)
}
.modal-header{
    background: rgba(41, 40, 41, 0.242);
    color: aliceblue;
}
.modal-footer{
    background: rgba(40, 39, 40, 0.242);

} */
#output_box{
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 20px); */


    /* display: block; */
    font-weight: 500;
    margin-bottom: 5px;

    height: 20%;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;

  border-color: #9b59b6;
/* text-align: center; */
padding-top: 2%;
  margin-bottom: 15px;
    /* width: 100%; */

}
.output_container{
    width: 40%; 
    display: inline-block;
    margin-right: 8%;
    margin-left: 2%;

}


.modal-header{
    background-color:rgb(205, 188, 223)
   }