
<app-navbar></app-navbar>

<!-- TABLE -->
        <div>
          <h1 style="text-align: center; color: rgb(232, 239, 246);font-weight: bold;  font-size: 200%;padding-top: 3%; padding-bottom: 2%;; padding-top: 3%; padding-bottom: 2%;">REQUEST LIST</h1>
        </div>
        <div class="container table-responsive " style="  background: linear-gradient(135deg, #98c4e1, #c7a8d4); padding:2% 3% 2% 3%;border-radius: 25px">
         
          <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped ">
        
            <thead class="table-dark ">
         <tr>
           <th scope="col">REQUEST ID</th>
           <th scope="col">L1 ATTENDEE</th>
           <th scope="col">L2 ATTENDEE</th>
           <th scope="col">CATEGORY</th>
           <th scope="col">PRIORITY</th>
           <th scope="col">STATUS</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           
           <tr *ngFor="let i of data.table" style="color:white">
           <td >{{ i.sr_id }}</td>
           <td >{{ i.l1_attendee }}</td>
           <td >{{ i.l2_attendee }}</td>
           <td >{{ i.category }}</td>
           <td >{{ i.priority }}</td>
           <td >{{ i.status }}</td>
         </tr>
       </tbody>
     </table>

</div>


<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{sr_id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="content">
            <form action="#">
              <div class="user-details">
                <div>
                  <output id="power" for="base exponent">REQUEST ID : {{sr_id}}</output>
                </div>


                <div>REQUEST ID : {{sr_id}}</div>
               <div>ISSUE WITH : {{issue_with}}</div>
               <div>CATEGORY : {{category}}</div>
               <div>PRIORITY : {{priority}}</div>
               <div>L2 ATTENDEE : {{l2_attendee}}</div>
               <div>STATUS : {{status}}</div>

            
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">REMARKS FROM L1 ATTENDEE</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="l1_attendee_remarks"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">REMARKS FROM L2 ATTENDEE</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"  name="l2_attendee_remarks"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">REMARKS</label>

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"[(ngModel)]="dataModal.remarks" name="remarks"></textarea>
              </div>
              <button type="button" class="btn btn-secondary " style="margin: 2%;" (click)="pending()">PENDING</button>
              <button type="button" class="btn btn-secondary" style="margin: 2%;" (click)="resolve_request()">RESOLVE REQUEST</button>
              <button type="button" class="btn btn-secondary" style="margin: 2%;" (click)="tranfer_request()">TRANSFER</button>
              <button type="button" class="btn btn-secondary" style="margin: 2%;" (click)=" cancel_request()">CANCEL</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <button type="submit" class="btn btn-primary" value="Submit" (click)="submit()">SAVE CHANGES</button>
      </div>
    </div>
  </div>
</div>      
<div style="margin-top: 5%;">
  <app-footer></app-footer>
</div>    