/* .modal-content{
    background: linear-gradient(135deg, #98c4e1, #c7a8d4)
}
.modal-header{
    background: rgba(41, 40, 41, 0.242);
    color: aliceblue;
}
.modal-footer{
    background: rgba(40, 39, 40, 0.242);

} */